<%= link_to 'Back to index >', posts_path,
    class: 'pull-right' %>
<h2>Create Post</h2>
<%= form_for @post do |f| %>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title,
        class: 'form-control' %>
  </div>
    <div class='form-group'>
    <%= f.label :context %>
    <%= f.text_area :context,
        class: 'form-control' %>
  </div>
  <%= f.submit 'Create Post',
      class: 'btn btn-default' %>
<% end %>